!!!
%html
  %head
    %title Image Directories
    %link{rel: "stylesheet", type: "text/css", href: "/main.css"}
    = bootstrap_assets
  %body
    - container do
      %ul.thumbnails
        - @result.entries.each_slice(6) do |row_entries|
          - row do
            - row_entries.each do |img_dir|
              %li.span2
                %a.thumbnail{href: encoded_url("/show", img_dir.basename, "1")}
                  %img{src: img_dir.thumbnail ? encoded_url("/images", img_dir.basename, img_dir.thumbnail) : '',
                       alt: img_dir.basename}
                  = img_dir.basename
      != paginate @result, view: :_paginate, items_per_page: 12
