!!!
%html
  %head
    %title Image Directories
  %body
    %ul
      - @result.entries.each do |entry|
        %li<
          %a{href: url("/show/#{URI.encode(entry)}/0", false)}<
            = entry
    != paginate @result
