!!!
%html
  %head
    %title= "(#{@current_page} / #{@image_dir.images.size}) #{params[:directory]}"
    %link{rel: "stylesheet", type: "text/css", href: "/main.css"}
  %body{style: "background-color: #444444"}
    #image
      %a{href: encoded_url("/show", params[:directory], @next_page.to_s)}<
        %img{src: encoded_url("/images", params[:directory], @image_filename),
             alt: @image_filename}
